
.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }

  .layout-wrapper{
    background: url('../../images/card.jpeg') no-repeat center;
    background-size: cover;
    padding: 40px 0;
  }

  .custom-card {
    width: 25%;
    max-height: 100vh;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    background-color: black;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: #fff;
  }

  .custom-card:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
  }

  .custom-card p {
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
  }

  .custom-card a {
    position: relative;
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    margin-top: 20px;
    text-decoration: none;
  }

  img{
  width: 180px;
  height: 140px;
  text-align: center;
  margin: 0 auto ;
  border-radius: 20px;
   display: block; 
}

  @media (max-width: 1024px) {
    .custom-card {
      width: 45%;
      height: auto;
    }
  }

  @media (max-width: 750px) {
    .custom-card {
      width: 100%;
      height: auto;
    }
  }

  @media (min-width: 35em) {
    .row {
      display: flex;
      margin-left: -.75em;
      margin-right: -.75em;
    }

    .column {
      flex: 1;
      margin-right: 0.75em;
      margin-left: 0.75em;
    }
  }    
      #logsPurchased {
          border: 1px solid #ccc;
          padding: 10px;
          margin: 20px;
      }

      .notification-toast {
      background-color: #28a745;
      color: #fff;
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 15px;
  }    
  
  .toast-success {
  background-color: #4F4F4F; /* Change this color to your preference */
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}